{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Match a movie</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'browse' %}" class="nav-link">Your Rooms</a>
                <a href="{% url 'rate_movie' %}" class="nav-link">Rate Movies</a>
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% endif %}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
</body>
</html>