{% extends 'nav_bar.html' %}
{% load static %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" id="room-pk" value="{{ room.pk }}">
    <input type='text' name='search_name' id='search_name' placeholder='Search friend..'>
    <button type="submit">Dodaj użytkownika</button>
</form>

<div id="search-results" style="display: none;"></div>
<script src="{% static 'js/search.js' %}"></script>

   <ul>
    <li>{{ room.host.username }} (Host)</li>
    {% for member in room.members.all %}
        {% if member != room.host %}
            <li>{{ member.username }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}